/*********-default-**********/
* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(0, 0, 0);
}

html {
    scroll-behavior: smooth;
}

html,
body {
    margin: 0;
    padding: 0;
}

ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}


body {
    background-color: #ffeeee;
}

@font-face {
    font-family: 'Crimson';
    src: url(../font/Crimson_Text/CrimsonText-Regular.ttf);
}

/**************************/
.mainView {
    max-width: 1200px;
    min-height: 1500px;
    margin: auto;

    /*border:1px solid gray;*/
}

hr {
    height: 2px;
    background-color: brown;
    border-color: brown;
}


#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    left: 20px;
    z-index: 1000;

    border: none;
    background-color: transparent;
    outline: none;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
}

#myBtn img {
    width: 30px;
}

#myBtn:hover {
    background-color: #84ffde;
    border: 2px solid #ffd754;
}

@media screen and (max-width: 430px) {
    #myBtn {
        width: 20px;
        bottom: 10px;
        left: 10px;
        background-color: transparent;
        border: none;

    }

    #myBtn img {
        width: 20px;

    }

    #myBtn:hover {
        background-color: transparent;
    }
}

/*-----------------------*/

.title-wrap {
    margin-left: 50px;
    display: flex;
    justify-content: center;
    align-items: center;

}

#headertxt {
    font-size: 50px;
    display: block;

}


.logo {
    display: block;
    height: 40px;
}

.headerSpace {
    width: 95%;
    height: 600px;
    position: relative;
    place-content: inherit;
    margin: auto;
    top: 0;
    left: 0;
}

.introText {

    margin: auto;
    max-width: 80%;
}

.introText h1 {
    display: inline-block;
    font-family: 'Crimson';

}

.model img {
    width: 200px;
    height: 100px;
}

.introText img {
    width: 23px;
}

.introText h3 img {
    display: inline-block;

}



#image-track {
    display: flex;
    gap: 4vmin;
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(0%, -50%);
    user-select: none;
    /* -- Prevent image highlighting -- */
}

#image-track>.image {
    width: 40vmin;
    height: 56vmin;
    object-fit: cover;
    object-position: 100% center;
}

@media screen and (max-width: 430px) {
    #image-track {
        display: none;
    }

    .headerSpace {
        height: 10px;
    }
}

/*-----------------------*/
.navigationView {
    z-index: 1000;
    width: 100%;
    height: 50px;
    background-color: rgb(255, 255, 255);
    position: fixed !important;
    top: 0px;
    left: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navigationView a {
    text-decoration: none;
    offset-anchor: auto;

}

.burgerMenu {
    width: 50px;
    height: 50px;
    position: relative;
    z-index: 1;
}

.sidebar {
    position: fixed;
    z-index: 1000;
    top: 70px;
    right: 0;
    width: 100px;
    height: max-content;
    background-color: rgb(114, 252, 156);
    opacity: 0;
    transition: all 1s;
    overflow: hidden;
}

.sidebar .navBarName {
    flex-direction: column;
    text-transform: capitalize;
    padding: 0.5rem;

}

@media all and (max-width: 700px) {
    .burgerMenu {
        display: block;
    }

    .navView {
        display: none;
    }
}

@media all and (min-width: 700px) and (max-width: 2000px) {
    .burgerMenu {
        display: none;
    }

}



.navView {
    width: 800px;
    margin: 10px;
    text-transform: capitalize;
}

.navBarName {
    width: 100%;
    display: flex;
    justify-content: center;

}

.navBarName li {
    margin: 5px 10px 5px 10px;
}

.navBarName li a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    padding-bottom: 5px;
    transition: all 0.3s;
}

.navBarName li a:hover {
    color: #fb4465;
    background-color: lightcyan;
    border-radius: 30%;
}

/**/
.menuActive {
    color: palevioletred !important;
}








.contentView {
    width: 100%;
    height: max-content;
    padding-bottom: 5rem;
    background-color: rgb(248, 255, 227);

}

/*----CONTENT1 : ABOUT----*/

h3 {
    text-align: center;
    margin: auto;
    margin-bottom: 1rem;
}

.a1,
.history,
.a2 {
    display: flex;
    justify-content: center;
    margin: auto;
    top: 0;
    left: 0;
    position: relative;

}


#snacks {
    width: 50%;
    height: 50%;
    margin: auto;
    margin-left: 1rem;
    max-width: 60%;
    max-height: 60%;
    box-shadow: 2px 2px 2px 1px rgba(116, 116, 116, 0.2);

    border-radius: 3%;
}

.historyText,
.todayText {
    padding: 1rem;
    display: grid;
    position: relative;
    /* box-shadow: 2px 2px 2px 2px rgba(116, 116, 116, 0.2);
    border-radius: 3%; */
    text-overflow: ellipsis;
    overflow-y: auto;
}

.history img {
    max-width: 150px;
    max-height: 230px;
    margin-top: 75px;
    margin-right: 1%;
    box-shadow: 2px 2px 2px 1px rgba(116, 116, 116, 0.2);
    border-radius: 3%;
}


.historyText {
    width: 540px;
    height: 380px;
}

.today {
    float: left;
}

.todayText {
    width: 400px;
    height: 346px;
}

.today #mr-takeuchi {
    max-width: 247px;
    max-height: 346px;
    margin-left: 1rem;
    box-shadow: 2px 2px 2px 1px rgba(116, 116, 116, 0.2);
    border-radius: 3%;

}

.jpletter img {
    max-width: 247px;
    max-height: 346px;
}

@media screen and (min-width: 360px) and (max-width: 850px) {

    .a1,
    .a2 {
        display: table-row;
        text-align: center;
        margin-top: 0;
        margin-bottom: 0;
    }

    .historyText,
    .todayText {
        text-overflow: none;
        overflow-y: none;
        width: 80%;

    }

    .text1 {
        width: 90%;
    }

}



/*------CONTENT2: How it's made-----*/

h3,
h2 {
    text-transform: capitalize;
    font-family: 'Crimson';
}



#jp {
    font-family: 'Yu Mincho Pr6 W53', 'Yu Mincho Light', 'YuMincho', 'Yu Mincho', '游明朝体', 'ヒラギノ明朝 ProN', 'Hiragino Mincho ProN', 'ＭＳ Ｐ明朝', 'MS PMincho', serif !important;
}

.proText h3 {
    margin-bottom: -20px;
}

h2 {
    display: inline-block;
}

.proText,
.artText,
.expText {
    text-align: center;
    margin: auto;

}

.expText,
.artText,
.proText p {
    max-width: 80%;
    top: 0;
    left: 0;
    margin: auto;

}

p {
    font-family: 'Crimson';
}


.vidContainer {
    margin: auto;
    margin-top: 15px;
    top: 0;
    left: 20px;
    display: flex;
    justify-content: space-evenly;

}



.vidContainer .proVideo iframe {
    position: absolute;

    transition: all 0.4s;

}


.vidContainer .proVideo iframe:hover {
    color: rgba(255, 255, 255, 0.5);
    cursor: pointer;
}


#processVid video {
    width: 100%;
    position: absolute;
    top: 200px;
    left: 0;
}

#processVid video {
    max-width: 100%;
    height: auto;
    display: inline-block;
}

@media screen and (min-width: 360px) and (max-width: 850px) {
    .proText {
        margin-bottom: 10px;
    }

    .vidContainer {
        margin: auto;
        top: 0;
        left: 0;
        text-align: center;
        display: table-row;
    }
}


.carousel {
    width: 650px;
    height: 500px;
    position: relative;
    margin-right: auto;
    margin-left: auto;
}


.carousel>ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.slide {
    position: absolute;
    inset: 0;
    opacity: 0;
    transition: 200ms opacity ease-in-out;
    transition-delay: 200ms;
}

.slide>img {
    display: block;
    width: 100%;
    height: 100%;
    /* object-fit: cover; */
    /* object-position: center; */

}

.slide[data-active] {
    opacity: 1;
    z-index: 1;
    transition-delay: 0ms;
}

.carousel-button {
    position: absolute;
    z-index: 2;
    background: none;
    border: none;
    font-size: 4rem;
    top: 50%;
    transform: translateY(-50%);
    color: rgba(255, 255, 255, .5);
    cursor: pointer;
    border-radius: .25rem;
    padding: 0 .5rem;
    background-color: rgba(0, 0, 0, .1);
}

.carousel-button:hover,
.carousel-button:focus {
    color: white;
    background-color: rgba(0, 0, 0, .2);
}

.carousel-button:focus {
    outline: 1px solid black;
}

.carousel-button.prev {
    left: 1rem;
}

.carousel-button.next {
    right: 1rem;
}

@media screen and (max-width: 430px) {
    .carousel {
        width: 430px;
        height: 300px;
    }
}


.expText {
    text-align: center;
}

.experience {
    display: flex;
    justify-content: space-evenly;
}



.lesson1,
.lesson2,
.lesson3 {
    font-size: 25px;
    font-weight: 600;
    text-transform: capitalize;
    margin-bottom: 20px;
    width: 250px;
    height: 100px;
    background-image: url('media/icons/wave_small.png');
    text-align: center;
    align-content: center;
    position: relative;
    z-index: 100;

}

.traialPic {
    position: relative;
    margin: 0;
    text-align: center;
    

}

.traialPic img {
    
    width: 250px;
    height: 180px;
}


.experience button {
    width: 90px;
    height: 30px;
    z-index: 100;
    background-color: #ffd5d5;
    border-color: 2px solid brown;
    font-family: 'Teachers';
    transition: 200ms ease-in-out;
}

.experience button:hover {
    background-color: #ffd754;

    text-decoration: underline;
}


/*----------CONTACT-------------*/

.contactSpace {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}


.contactTitle {
    text-align: center;
    margin: auto;
}

.contactTitle h2 {
    font-weight: 600;
    color: rgb(0, 0, 0);
    font-size: 30px;
    margin-bottom: 5px;

}

.contactTitle hr {
    border: none;
    width: 120px;
    height: 5px;
    background-color: indianred;
    border-radius: 10px;
    margin-bottom: 20px;
}


form {
    width: 500px;
    height: 800px;
    display: flex;
    margin-left: 50px;
}




.contactLeft {
    height: max-content;
    padding-top: 5rem;
    display: flex;
    align-items: start;
    flex-direction: column;
    gap: 20px;
}


.contactInputs {
    width: 400px;
    height: 50px;
    border: 2px solid #4ac085;
    outline: none;
    padding-left: 25px;
    font-weight: 500;
    color: #565656;
    border-radius: 50px;
}



.contactSpace textarea {
    height: 140px;
    padding-top: 15px;
    border-radius: 20px;
}

.contactInputs:focus {
    border: 2px solid #ff994f;
}

.contactInputs::placeholder {
    color: rgb(128, 125, 125);
}

.contactLeft button {
    display: flex;
    align-items: center;
    padding: 15px 30px;
    font-size: 16px;
    color: #fff;
    gap: 10px;
    border: none;
    border-radius: 50px;
    background: linear-gradient(270deg, #ff994f, #fa6d86);
    cursor: pointer;
}

.contactLeft button:hover {
    background: linear-gradient(270deg, #4fa1ff, #6dfab3);


}



.contactLeft button img {
    height: 15px;
}

.contactRight {
    position: relative;
    width: 400px;
    height: max-content;
}

.contactRight a {
    margin: auto;
    top: 0;
    left: 0;
}

#gmap iframe {
    height: 100%;
    width: 100%;
    margin: auto;
    left: 0;
    top: 0;
    position: absolute;
}



.contactRight img {
    width: 52px;
    display: grid;
    padding: 2px;
    background: linear-gradient(270deg, #ffea71, #f88181);
    border-radius: 50%;
}

.contactRight img:hover {
    background: linear-gradient(270deg, #4fa1ff, #6dfab3);
    border-radius: 50%;
    width: 60px;

}



.sns {
    display: flex;
    margin: auto;
    top: 0;
    left: 0;
}



@media screen and (min-width: 360px) and (max-width: 850px) {
    .contactSpace {
        display: table-row;
  
    }
}

@media screen and (min-width: 360px) and (max-width: 450px)  {
    form {
        width: 300px;
        height: 480px;

    }

    .contactInputs {
        width: 240px;
        height: 40px;
    }

    .contactRight {
        margin-top: 20px;
    }

    .contactRight img {
        width: 40px;
    }
}



.contentRow {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 10px;
}

.contentRow a:hover {
    color: #fb4465;
    background-color: lightcyan;
    border-radius: 30%;
}


/*-----------FOOTER------------*/
.footerView {
    width: 100%;
    height: 60px;
    background-color: rgb(255, 255, 255);
    padding-top: 50px;
}


.footerView a {
    font-family: 'Teachers';
    color: rgb(0, 0, 0);
    margin: 5px;
}
